@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Legacy Chemical Test App</h1>
    <p class="lead">IIS Simulated Environment - ASP.NET Core MVC (Legacy Style)</p>
    <p><a href="/Tests" class="btn btn-primary btn-lg">View Tests &raquo;</a></p>
</div>

